body {
  background-color: #1F2039;
  /* background-color: #A5B4FC; */
}
section {
  padding: 80px;
}
.hero {
  display: flex;
  flex-direction: row;
  width: 65%;
  margin: auto;
}

div {
  /* margin-right: 40px; */
  padding-top: 0;
}

h1 {
  color: #A5B4FC;
  font-size: 3em;
  /* padding-bottom: 25px; */
}

p {
  /* color: white; */
  /* font-size: 1.3em; */
  /* margin-bottom: 70px; */
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

.cta {
  color: white;
  background: linear-gradient(#8E86B5, #ACAEED);
  padding: 20px 30px;
  font-size: 17px;
  border-radius: 50px;
}

.cta:hover {
  text-decoration: none;
  background: linear-gradient(#696484, #8788BA);
}

.hero img{
  max-width: 280px;
  width: 28vw;
  height: 300px;
  object-fit: cover;
  border-radius: 25px;
}

  /* media queries */
@media screen and (max-width: 996px) {
  
  .hero {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 30px;
    padding: 10px;
    width: 85%;
  }

  .hero img {
    order: 1;
    margin-bottom: 40px;
    max-width: 280px;
    /* width: 28vw; */
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
    width: 100%;
    padding: 13px
  }

  .hero div {
    order: 2;
    height: auto;
    margin-bottom: 15px;
    margin-right: 0;
  }

  .home p {
    padding: 0 50px 0 50px;
    margin-bottom: 50px;
  }
  }

  @media screen and (max-width: 470px) {
    .hero h1 {
      font-size: 2em;
    }
    .hero p {
      font-size: 1.2em;
    }
  }

/*? Experience CSS  */

.container{
  max-width: 1300px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
}
.container1{
  max-width: 1300px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px; */
}

.card{
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0,0,0,0.3);
  /* padding-top: 200px; */
}

.card:hover{
  /* background-color: grey; */
 box-shadow: 10px red;
}
/* .card img{
  width: 90%;
  height: 250px;
  object-fit: cover;
  position: absolute;
  top: -50px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
} */

.card-body{
  padding: 20px;
}

.tech-skills{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 20px;
}

.tech-skills img{
  width: 100%;
}

.card-body .card-title{
  font-size: 24px;
  /* font-weight: 500; */
  text-align: center;
  margin-bottom: 20px;
}

.card-body .card-text{
  font-size: 25px;
  /* line-height: 1.8; */
  text-align: center;
  margin-bottom: 30px;
}

.card-body .btn{
  width: 100%;
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: rgba(185, 186, 255, 0.38);
  color: blue;
  text-decoration: none;
  font-size: 20px;
  transition: 0.4s ease;
}

.card-body .btn:hover{
  background-color: blue;
  color: #fff;
}

@media screen and (max-width:768px) {
  .container{
      grid-template-columns: 1fr;
      grid-row-gap: 100px;
  }


}

/* 
  Experience 
*/
.job-company {
  text-transform: uppercase;
  color: #334155;
  background: #cbd5e1;;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0.75rem 0;
}

.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  /* margin-bottom: 1.25rem; */
  font-size: 18px;
}

.job-icon{
  color: aqua;
  font-size: 30px;
  animation: 1.5s ease 1s infinite beat;
}

@keyframes beat {
  0%, 50%, 100% { transform: scale(1, 1); }
  30%, 80% { transform: scale(0.92, 0.95); }
}

.projects{
  padding: 1rem 0px;
  /* background: darkcyan; */
}
.title{
  text-align: center;
  /* margin-bottom: 3rem; */
  color:aqua;
  font-size: 20px;
}

.underline{
  height: 0.2rem;
  width: 10rem;
  background: greenyellow;
  margin: -1rem auto 0px;
}

.section-center{
  width: 90vw;
  max-width: 1300px;
  margin: 0px auto 2rem;
  display: grid;
  gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
}

.img-container{
  position: relative;
  height: 15rem;
}

.img-container span{
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.img-container img{
  position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius:  0.25rem;
}

.card1 {
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
  overflow: hidden;
  background: white;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}

.card1 img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card1:hover{
  transform: scale(1.05);
  
}
button:hover {
  background-color: #555;
}

